<header>
    <nav>
        <div class="nav-wrapper primary-color">
            <a href="#" class="brand-logo left">$</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/dashboard" id="home_btn">Home</a></li>
                <li><a href="/dashboard/domains" id="domains_button">Domains</a></li>
            </ul>
        </div>
    </nav>
</header>