<nav>
    <div class="primary-color nav-wrapper">
        <a href="#" class="brand-logo"><i class="material-icons">bug_report</i>findJs</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="{% url 'dashboard' %}" id="home_btn">Home</a></li>
            <li><a href="{% url 'libraries' %}" id="lib_btn">Libraries</a></li>
            <li><a class="modal-trigger" href="#about_modal">About</a></li>
            <li class="red darken-1"><a class="tooltipped" href="/accounts/logout"
                    data-tooltip="Disconnects from extension">Logout</a></li>
        </ul>
    </div>
</nav>

<div class="container">
        
</div>