  /* label focus color */
input:focus + label {
    color: #b388ff !important;
}
/* label underline focus color */
input:focus {
    border-bottom: 1px solid #b388ff !important;
    box-shadow: 0 1px 0 0 #b388ff !important;
}
